/* .container-fluid{
    height: auto;
    padding-left: auto;
    padding-right: auto;
    width: auto;
}
.inner-container{
    justify-content: center;
    position: relative;
    align-items: center;
    padding-left: 37%;
    padding-right: auto;
    padding-top: 5%;
    /* background: linear-gradient(to right, #C33764  , #1D2671); */
    /* height: 93vh;
    width: 100vw;
    border-top-left-radius: 5%;
    border-bottom-right-radius: 5%; */
    /* background-color: #19A7CE; */
/* } */
 
